{% extends 'base.html' %}


{% block head %}
<title>JS-Calendar</title>

<!-- Load the calendar stylesheet here.
    Recommended to change the name of main.css
    to be more specific if more pages are added -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}


{% block body %}
<div id="root">
</div>

<!-- Load the JavaScript (React) here.
    Recommended to change the name of main.js
    to be more specific if more pages are added -->
<script src="..\static\js\main.js"></script>
{% endblock %}